    <main class="container paginas pad-2 tienda">
        <div class="row bs_gutter-x-0 justify-content-center">
            <!-- Pagina: Tienda -->
            <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionProductsInput">
                <h2 class="text-center">Editar de Producto</h2>
                <article>
                    {{#if productos}}
                        <form class="row g-3" action="/api/productos/form" id="editProductsForm" method="post" name="productos" enctype="multipart/form-data">
                            <div class="col-12">
                                <label for="title" class="form-label">Nombre<span class="requerido">*</span></label>
                                <input value={{productos.title}} required type="text" name="title" id="title" class="form-control" placeholder="Nombre de Producto" aria-label="title">
                            </div>
                            <div class="col-12">
                                <label for="description" class="form-label">Descripci贸n<span class="requerido">*</span></label>
                                <textarea required name="description" id="description" class="form-control" placeholder="Descripci贸n del Producto" aria-label="description">{{productos.description}}</textarea>
                            </div>
                            <div class="col-12">
                                <label for="price" class="form-label">Precio<span class="requerido">*</span></label>
                                <input value={{productos.price}} required type="number" name="price" id="price" class="form-control" placeholder="Precio de Producto" aria-label="price">
                            </div>
                            <div class="col-12">
                                <label for="code" class="form-label">C贸digo<span class="requerido">*</span></label>
                                <input value={{productos.code}} required type="text" name="code" id="code" class="form-control" placeholder="C贸digo de Producto" aria-label="code">
                            </div>
                            <div class="col-12">
                                <label for="stock" class="form-label">Stock<span class="requerido">*</span></label>
                                <input value={{productos.stock}} required type="number" name="stock" id="stock" class="form-control" placeholder="Stock de Producto" aria-label="stock">
                            </div>
                            <div class="col-12">
                                <label for="sales" class="form-label">Ventas<span class="requerido">*</span></label>
                                <input value={{productos.sales}} required type="number" name="sales" id="sales" class="form-control" placeholder="Ventas del Producto" aria-label="sales">
                            </div>                    
                            <div class="col-12">
                                <label for="thumbnail" class="form-label">Imagen<span class="requerido">*</span></label>
                                <input type="file" name="thumbnail" id="thumbnail" class="form-control" aria-label="Imagen">                            
                                <img src={{productos.thumbnail}} id="thumbnail_preview" width="150px"/>
                            </div>                    
                            <div class="col-12 requerido">*Valor requerido</div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Editar Producto</button>
                            </div>
                        </form> 
                    {{/if}}
                </article>
                <div id="enviando"></div>
            </section>   
        </div> 
    </main>