<main class="container paginas pad-2">
    <div id="error"></div>
    <div class="row bs_gutter-x-0 justify-content-center">
        <!-- Pagina: Contacto -->
        <section class="col-md-9 pad-right-1p5 pad-bottom-2" id="sectionSessionLogin">
            <h2 class="text-center">{{#if user }}Password Change{{else}}Iniciar Sesión{{/if}}</h2>            
            <article>
                <form class="row g-3" action="{{#if user }}/session/passwordChange{{else}}/session/login{{/if}}" id="passwordChange" method="post" name="{{#if user }}passwordChange{{else}}login{{/if}}">
                    <div class="col-12">
                        <label for="title" class="form-label">Nombre de Usuario{{#if user }}: {{else}}<span class="requerido">*</span> {{/if}}</label>
                        <input placeholder="usuario@correo.com" {{#if user }}readonly{{else}}required{{/if}} type="text" name="username" id="username" class="form-control {{#if user }}logout{{/if}}" placeholder="Nombre de usuario" aria-label="Nombre" value="{{#if user }}{{user.email}}{{/if}}">                                                
                    </div>
                    {{#if user }}
                        <div class="col-12">
                            <label for="password1" class="form-label">Contraseña Actual<span class="requerido">*</span></label>
                            <input required type="password" name="password1" id="password1" class="form-control" placeholder="****" aria-label="Password">                                                
                        </div>
                        <div class="col-12">
                            <label for="password" class="form-label">Contraseña Nueva<span class="requerido">*</span></label>
                            <input required type="password" name="password" id="password" class="form-control" placeholder="****" aria-label="Password">                                                
                        </div>
                        <div class="col-12">
                            <label for="password2" class="form-label">Repetir Contraseña Nueva<span class="requerido">*</span></label>
                            <input required type="password" name="password2" id="password2" class="form-control" placeholder="****" aria-label="Password">                                                
                        </div>                        
                    {{/if}}
                    <div class="col-12 requerido" id="loginFormVR">{{#if user }}{{else}}*Valor requerido{{/if}}</div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary">{{#if user }}Actualizar Contraseña{{else}}Iniciar Sesión{{/if}}</button>
                    </div>
                </form> 
            </article>
            <div id="enviando"></div>
            {{#if user }}
            {{else}}
                <h4 class="text-center">¿No tienes una cuenta todavia? <a href="/register" class="btn btn-primary">Registrate Aquí</a> </h4>            
            {{/if}}
        </section>                                    
    </div>        
</main>